
:root {
    --main-color: #407899;
    --background: #e9ecef;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.icon {
    width: 25px;
    height: 25px;
}
.icon-large {
    width: 75px;
    height: 75px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 15px;
    padding: 15px 5% 15px 30px;
    box-shadow: 0 5px 5px lightgray;
    z-index: 1;
}

.header p {
    font-weight: bold;
}

.search-bar {
    align-self: center;
    display: flex;
    gap: 15px;
    padding-right: 10%;
}

.profile {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}

.account {
    display: flex;
    justify-content: right;
    gap: 7%;
    align-items: center;
}

.greeting {
    display: flex;
    align-items: center;
    gap: 5%;
}

.greet p:first-of-type {
    margin-bottom: 5px;
}

.greet p:last-of-type {
    font-size: xx-large;
}

.profile-large {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.tabs {
    display: flex;
    justify-content: right;
    gap: 25px;
    align-items: center;
}

.tabs button {
    width: 100px;
    height: 40px;
    background-color: var(--main-color);
    color: white;
    border-radius: 25px;
    border: 0;
    font-weight: bold;
}


.search-bar > input {
    width: max(200px, 100%);
    border: 1px;
    border-radius: 25px;
    background-color: var(--background);
    padding-left: 8px;
}

.search-bar > input:focus {
    outline: 2px solid black;
}

.sidebar {
    grid-row: 1 / -1;
    background-color: var(--main-color);
    color: white;

    display: flex;
    flex-direction: column;
    gap: 50px;
    align-content: center;
}

.sidebar .dash,
.sidebar > div > div{
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.sidebar > div > div {
    margin-left: 2rem;
    margin-bottom: 1rem;
    gap: 20px
}

.nav > div > p,
.info > div >p {
    font-weight: bold;
}

.sidebar img {
    filter: invert(1);
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
    padding: 30px;
    background-color: var(--background);
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    gap: 20px;
}

.card {
    width: 100%;
    height: 200px;
    background-color: white;
    box-shadow: 3px 3px 4px lightgray;
    border-radius: 10px;
    padding: 30px;
}