* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.icon {
    width: 25px;
    height: 25px;
}
.icon-large {
    width: 75px;
    height: 75px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 25px;
    padding: 5px 15px 5px 15px;
}

.search-bar {
    align-self: center;
    display: flex;
    gap: 15px;

}

.search-bar > input {
    width: clamp(200px, 100%, 500px);
    border: 1px;
    border-radius: 25px;
    background-color: gainsboro;
    padding-left: 8px;
}

.search-bar > input:focus {
    outline: 2px solid black;
}

.sidebar {
    grid-row: 1 / -1;
    background-color: mediumblue;
    color: white;

    display: flex;
    flex-direction: column;
    gap: 50px;
    align-content: center;
}

.sidebar .dash,
.sidebar > div > div{
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.sidebar > div > div {
    margin-left: 2rem;
    margin-bottom: 1rem;
    gap: 20px
}

.nav > div > p,
.info > div >p {
    font-weight: bold;
}

.sidebar img {
    filter: invert(1);
}

.content {

}